body{
    background-color: white;
}

h1{
    font-family: 'EB Garamond', serif;
    color: black;
    text-align: center;
    font-size: 5vw;
    height: 50px;
    margin: auto;
    margin-top: -7.5vw;
}

div{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 70px 0;
}